<aside class="AsideModal-main">
    <!-- Affichage des catégories de l'utilisateur -->
    <% if (categoriesUtilisateur.length> 0) { %>
        <h3>Vos catégories :</h3>
        <% categoriesUtilisateur.forEach((categorie)=> { %>
            <p>
                <%= categorie.designation %><a href="/manageCateg/<%= categorie.id_categ %>">Modifier</a>
            </p>
            <% }) %>
            <% } if (status){ %>
            <p><a href="/categcreate">Ajouter une catégorie</a></p>
            <% } %>
            
            <!-- Affichage des quiz de l'utilisateur -->
            <% if (quizUtilisateur.length> 0) { %>
                <h3>Vos quizs :</h3>
                <% quizUtilisateur.forEach((quiz)=> { %>
                    <p>
                        <%= quiz.titre %><a href="/manageQuiz/<%= quiz.id_quiz %>">Modifier</a>
                    </p>
                    <% }) %>
                    <% } if (status){ %>
                    <p><a href="/quizcreate">Ajouter un quiz</a></p>
                    <p><a href="/questcreate">Ajouter une question</a></p>
                    <% }} %>
                    <h3>Vos scores</h3>
    <% if(scoreUserTable.length > 0 ){%>
    <table class='top10Modal-table'>
        <tr>
            <th>Total</th> <th>Date</th> <th>Titre du quiz</th> <th>Refaire le quiz</th>
        </tr>
        <% scoreUserTable.forEach((sco)=>{%>
        <tr>
            <td><%=sco.total%></td> <td><%=sco.date%></td> <td><%=sco.nomQuiz%></td> <td><a href="/startQuiz/<%=sco.id_quiz%>">Réessayer</a></td>
        </tr>
            <% })} else{ %>
                <p>Vous n'avez pas encore de scores enregistrés</p>
            <% } %>
        </table>
                    
    
</aside>
