<!-- profil.ejs -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/AsideModalProfile.css" type="text/css">
    <link rel="stylesheet" href="/MainProfile.css" type="text/css">
    <link rel="stylesheet" href="/navBar.css" type="text/css">
    <link rel="stylesheet" href="/global.css" type="text/css">
</head>

<body>
    <%- include('../partials/navBar') %>
    <%- include('../partials/AsideModalProfil') %>
    <main>
        <% if (!pseudoUtilisateur) { %>
            <!-- Redirection vers la page de connexion si l'utilisateur n'est pas connecté -->
            <script>window.location.href = '/userLogin';</script>
        <% } else { %>

            <!-- Affichage des informations utilisateur -->
            <h2>Vos informations</h2>
            <table class='top10Modal-table'>
                <tr>
                    <td>Votre pseudo :</td>
                    <td><%= utilisateur.pseudo %></td>
                </tr>
                <tr>
                    <td>Votre prénom :</td>
                    <td><%= utilisateur.prenom %></td>
                </tr>
                <tr>
                    <td>Votre nom :</td>
                    <td><%= utilisateur.nom %></td>
                </tr>
                <tr>
                    <td>Votre mail :</td>
                    <td><%= utilisateur.mail %></td>
                </tr>
                <tr>
                    <td>Admin :</td>
                    <td><%= status %></td>
                </tr>
                <tr>
                    <td>Inscription :</td>
                    <td><%= formattedDate %></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="/manageUser/<%= utilisateur.id_user %>">Modifier mes informations</a>
                    </td>
                </tr>
            </table>

            <!-- Affichage de tous les utilisateurs pour les administrateurs -->
            <% if (isAdmin && allUtilisateur) { %>
                <h2>Tous les utilisateurs</h2>
                <table>
                    <th>ID</th>
                    <th>Pseudo</th>
                    <th>Admin</th>
                    <th>Mail</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date d'inscription</th>
                    <th>Modification</th>
                    <% allUtilisateur.forEach((user) => { %>
                        <% // Convertir la date en objet Date %>
                        <% const dateInscription = new Date(user.date_inscri); %>
                        <% // Formater la date au format européen (dd/mm/yyyy) %>
                        <% const formattedDate = `${dateInscription.getDate().toString().padStart(2, '0')}/${(dateInscription.getMonth() + 1).toString().padStart(2, '0')}/${dateInscription.getFullYear()}`; %>
                        <tr>
                            <td><%= user.id_user %></td>
                            <td><%= user.pseudo %></td>
                            <td><%= user.admin %></td>
                            <td><%= user.mail %></td>
                            <td><%= user.nom %></td>
                            <td><%= user.prenom %></td>
                            <td><%= formattedDate %></td>
                            <td><a href="/manageUser/<%= user.id_user %>">Modifier</a></td>
                        </tr>
                    <% }) %>
                </table>
            <% } %>

        <% } %>
        <%- allCateg %>
    </main>
</body>
