<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/startQuiz.css">
    <link rel="stylesheet" href="/navBar.css" type="text/css">
    <title>Quiz <%= quiz.titre %>
    </title>
</head>
<% const adjustImage=quiz.image.substring(7); %>

    <body style="background-image: url(/Images/comb\ grid.jpg)">
        <%- include('../partials/navBar') %>
            <div id="quiz-container">
                <img src="/<%=adjustImage%>" alt="Image du quiz <%=quiz.titre%>">
                <section>
                    <h1><%= quiz.titre %></h1>
                    <p><%=quiz.description%></p>
                    <p class="info-quiz">Quiz ajouté le: <%=formattedDate%></p>
                    <p class="info-quiz">Quiz écrit par: <%=pseudoCreateur%></p>
                </section>
                <form id="questionnaire-form" action="/endQuiz/<%= quiz.id_quiz %>/<%= infoUtilisateur.id_user %>">
                    <% if(question_Reponse_Table.length> 0 ) {
                     question_Reponse_Table.forEach(question=> { %>
                        <div class="question">
                            <p>
                                <%= question.text %>
                            </p>
                            <p>Niveau de difficulté : <%= question.difficulte %>
                            </p>
                            <ul class="reponse">
                                <% // Mélanger les réponses pour cette question const
                                    melangeReponses=question.reponses.sort(()=> Math.random() - 0.5);
                                    melangeReponses.forEach(reponse => {
                                    %>
                                    <li>
                                        <label>
                                            <input type="radio" name="<%= question.id %>"
                                                value="<%= reponse.correct %>">
                                            <%= reponse.text %>
                                        </label>
                                    </li>
                                    <% }) %>
                            </ul>

                        </div>
                        <% })%>
                        <button id="prevButton" type="button" class="button">Question précédente</button>
                        <button id="nextButton" type="button" class="button">Question suivante</button>
                        <button onclick="return confirm('Voulez-vous vraiment terminer ce quiz ?')" class="button"
                        type="submit">Terminer le quiz</button>
                        <% }else{%>
                            <p>Désolé, ce quiz n'a pas encore de questions. revenez plus tard.</p>
                        <%}%>
                    </form>
            </div>



            <script>
                // JavaScript pour contrôler l'affichage des questions
                document.addEventListener('DOMContentLoaded', function () {
                    const questions = document.querySelectorAll('.question');
                    let indexQuestionActuel = 0;

                    function showQuestion(index) {
                        questions.forEach((question, i) => {
                            if (i === index) {
                                question.style.display = 'block';
                            } else {
                                question.style.display = 'none';
                            }
                        });
                    }

                    showQuestion(indexQuestionActuel);

                    document.getElementById('nextButton').addEventListener('click', function () {
                        indexQuestionActuel++;
                        if (indexQuestionActuel >= questions.length) {
                            indexQuestionActuel = 0; // Revenir à la première question si on atteint la fin
                        }
                        showQuestion(indexQuestionActuel);
                    });

                    document.getElementById('prevButton').addEventListener('click', function () {
                        indexQuestionActuel--;
                        if (indexQuestionActuel < 0) {
                            indexQuestionActuel = questions.length - 1; // Revenir à la dernière question si on atteint le début
                        }
                        showQuestion(indexQuestionActuel);
                    });
                });
            </script>
    </body>

</html>